In [18]:
import pandas as pd
import math
import numpy as np

# Open File

Membuka file dataset dengan ekstensi **csv**. Setelah itu merename nama-nama header. Baru kemudian men-drop column-column yang tidak akan digunakan.

In [19]:
def open_file(file):
    #read dataset
    raw_data = pd.read_csv(file, header=6)

    #ganti nama header
    raw_data.columns = [
                        "Nama Panggilan", 
                        "Asal Sekolah", 
                        "Jurusan Sekolah", 
                        "Jenis Sekolah",
                        "Jenis Kelas", 
                        "Akreditasi Sekolah", 
                        "Prestasi Sekolah", 
                        "Alumni Sekolah", 
                        "PTN Pilihan I", 
                        "Jurusan Pilihan I di PTN Pilihan I" ,
                        "Jurusan Pilihan II di PTN Pilihan I", 
                        "PTN Pilihan II", 
                        "Jurusan Pilihan I di PTN Pilihan II" ,
                        "Jurusan Pilihan II di PTN Pilihan II", 
                        "Jurusan Diterima", "PTN Diterima", 
                        "Matematika Semester 1", 
                        "Matematika Semester 2", 
                        "Matematika Semester 3", 
                        "Matematika Semester 4", 
                        "Matematika Semester 5", 
                        "Inggris Semester 1", 
                        "Inggris Semester 2", 
                        "Inggris Semester 3", 
                        "Inggris Semester 4", 
                        "Inggris Semester 5",
                        "Indonesia Semester 1",
                        "Indonesia Semester 2",
                        "Indonesia Semester 3",
                        "Indonesia Semester 4",
                        "Indonesia Semester 5",
                        "Fisika Semester 1",
                        "Fisika Semester 2",
                        "Fisika Semester 3",
                        "Fisika Semester 4",
                        "Fisika Semester 5",
                        "Kimia Semester 1",
                        "Kimia Semester 2",
                        "Kimia Semester 3",
                        "Kimia Semester 4",
                        "Kimia Semester 5",
                        "Biologi Semester 1",
                        "Biologi Semester 2",
                        "Biologi Semester 3",
                        "Biologi Semester 4",
                        "Biologi Semester 5",
                        "Ekonomi Semester 1",
                        "Ekonomi Semester 2",
                        "Ekonomi Semester 3",
                        "Ekonomi Semester 4",
                        "Ekonomi Semester 5",
                        "Geografi Semester 1",
                        "Geografi Semester 2",
                        "Geografi Semester 3",
                        "Geografi Semester 4",
                        "Geografi Semester 5",
                        "Sosiologi Semester 1",
                        "Sosiologi Semester 2",
                        "Sosiologi Semester 3",
                        "Sosiologi Semester 4",
                        "Sosiologi Semester 5",
                        "Sejarah Semester 1",
                        "Sejarah Semester 2",
                        "Sejarah Semester 3",
                        "Sejarah Semester 4",
                        "Sejarah Semester 5",
                        "Komputer Semester 1",
                        "Komputer Semester 2",
                        "Komputer Semester 3",
                        "Komputer Semester 4",
                        "Komputer Semester 5",
                        "Peringkat Kelas Semester 1",
                        "Peringkat Kelas Semester 2",
                        "Peringkat Kelas Semester 3",
                        "Peringkat Kelas Semester 4",
                        "Peringkat Kelas Semester 5",
                        "Nilai UN", 
                        "Saran",
                        "Prestasi Lain"
                    ]
    
    #drop column yang tidak digunakan
    data = raw_data.drop([
                "Jenis Kelas",
                "Akreditasi Sekolah", 
                "Prestasi Sekolah", 
                "Alumni Sekolah", 
                "Komputer Semester 1",
                "Komputer Semester 2",
                "Komputer Semester 3",
                "Komputer Semester 4",
                "Komputer Semester 5",
                "Peringkat Kelas Semester 1",
                "Peringkat Kelas Semester 2",
                "Peringkat Kelas Semester 3",
                "Peringkat Kelas Semester 4",
                "Peringkat Kelas Semester 5",
                "Nilai UN", 
                "Saran",
                "Prestasi Lain"
        ],axis=1)
    
    return data

# Cleaning Nilai

Proses cleaning nilai terdiri dari beberapa langkah:

1. Mengambil nilai tengah dari tiap mata pelajaran
2. Mengganti setiap NaN/null data dengan mean per mata pelajaran

In [20]:
def cleaning_nilai(data):

    #Mengambil nilai tengah dari tiap nilai
    data = data.replace("<70", 34.5)
    data = data.replace("71 - 75", 73)
    data = data.replace("76 - 80", 78)
    data = data.replace("81 - 85", 83)
    data = data.replace("86 - 90", 88)
    data = data.replace("91 - 95", 93)
    data = data.replace("> 95", 98)
    data = data.replace("No data", np.NaN)

    return data

In [21]:
def replace_zero_w_mean(data, mata_pelajaran):
    
    #mencari rata-rata dari per mata pelajaran
    rata2 = (data[f"{mata_pelajaran} Semester 1"].mean() 
            + data[f"{mata_pelajaran} Semester 2"].mean() 
            + data[f"{mata_pelajaran} Semester 3"].mean()
            + data[f"{mata_pelajaran} Semester 4"].mean()
            + data[f"{mata_pelajaran} Semester 5"].mean())/5
    
    #mengganti NaN value dengan nilai rata-rata
    values = {
        f"{mata_pelajaran} Semester 1": rata2,
        f"{mata_pelajaran} Semester 2": rata2,
        f"{mata_pelajaran} Semester 3": rata2,
        f"{mata_pelajaran} Semester 4": rata2,
        f"{mata_pelajaran} Semester 5": rata2,
    }
    data = data.fillna(value=values)
                    
    return data

# Menghitung Rata-Rata Per 5 Semester

Dari nilai-nilai yang telah di-clean kemudian akan dicari rata-rata tiap mata pelajarannya per semester

In [22]:
def rata2_mp_semester(data, mata_pelajaran):
    data_rata2 = {}
    
    #drop column tiap mata pelajaran untuk digantikan dengan rata-rata semester
    mapel = []
    for i in range(1,6):
        mapel.append(f"{mata_pelajaran} Semester {i}")

    data_drop = data.drop(mapel, axis=1)
    
    
    for column in data_drop:
        isi = []
        for i in range(len(data)):
            isi.append(data[column][i])
        data_rata2[column] = isi

    #menghitung rata-rata nilai 5 semester
    mean = []
    for i in range(len(data)):
        jumlah_nilai = 0
        jumlah_nilai += data[f"{mata_pelajaran} Semester 1"][i] + data[f"{mata_pelajaran} Semester 2"][i] + data[f"{mata_pelajaran} Semester 3"][i] + data[f"{mata_pelajaran} Semester 4"][i] + data[f"{mata_pelajaran} Semester 5"][i]
        mean.append(jumlah_nilai/5)

    #memasukkan column rata-rata 5 semester tiap mata pelajaran ke dataframe
    data_rata2[f"Rata-rata {mata_pelajaran}"] = mean

    data_rata2_frame = pd.DataFrame(data=data_rata2)
    
    return data_rata2_frame

# Menghapus NaN

Proses ini akan menghapus tiap rows yang memiliki NaN value yang ada pada column Jurusan Diterima

In [23]:
def remove_nan(data):
    drop_index = []

    #menghapus NaN value
    for i in range(len(data)):
        try:
            float(data["Jurusan Diterima"][i])
        except ValueError:
            pass
        else:
            if math.isnan(float(data["Jurusan Diterima"][i])) or int(data["Jurusan Diterima"][i]) == 0:
                drop_index.append(i)
        finally:
            if math.isnan(float(data["Rata-rata Sosiologi"][i])):
                drop_index.append(i)

    data = data.drop(drop_index)
        
    return data

In [24]:
def clean_jurusan_ptn(data):
    for i in range(len(data)):
        for column in data:
            if column == "Jurusan Diterima"  or column == "Jurusan Pilihan I di PTN Pilihan I" or column == "Jurusan Pilihan II di PTN Pilihan I" or column == "Jurusan Pilihan I di PTN Pilihan II" or column == "Jurusan Pilihan II di PTN Pilihan II":
                if isinstance(data[column][i], float):
                    pass
                else:
                    data[column][i] = data[column][i].title()
            elif column == "PTN Diterima" or column == "PTN Pilihan I" or column == "PTN Pilihan II":
                if isinstance(data[column][i], float):
                    pass
                else:
                    data[column][i] = data[column][i].upper()
    
    return data

In [25]:
def clean(files):
    cleanned_data = []
    
    for file in files:
        data = open_file(file)

        data = cleaning_nilai(data)

        matpel = ["Matematika", "Inggris", "Indonesia", "Fisika", "Kimia", "Biologi", "Ekonomi", "Geografi", "Sosiologi","Sejarah"]

        for item in matpel:
            data = replace_zero_w_mean(data, item)
            data = rata2_mp_semester(data, item)
                    
        data = remove_nan(data)
        
        cleanned_data.append(data)
        
        data_merge = pd.concat(cleanned_data, ignore_index=True)
        
        result = clean_jurusan_ptn(data_merge)
        
    #Split data test - data train
    test = result.sample(frac=0.3, replace=True)
    test.to_csv("Splitted Test.csv", encoding="utf-8")
    
#     rest_of_data = result.drop(test.index).reset_index()
    
    train = result.drop([
            "Nama Panggilan", 
            "Asal Sekolah", 
            "PTN Pilihan I", 
            "Jurusan Pilihan I di PTN Pilihan I" ,
            "Jurusan Pilihan II di PTN Pilihan I", 
            "PTN Pilihan II", 
            "Jurusan Pilihan I di PTN Pilihan II" ,
            "Jurusan Pilihan II di PTN Pilihan II", 
            "Rata-rata Sejarah",
        ],axis=1)
    
    train.to_csv("Splitted Train.csv", encoding="utf-8")
    
#     train = train_w_index.drop(["index"],axis=1)

    return train

In [26]:
def sort_data(data):
    data_sort = data.sort_values(by=['Jurusan Diterima', 'PTN Diterima'])
    
    data_sort.reset_index(inplace = True)

    data_sort = data_sort.drop(["index"], axis=1)

    return data_sort

In [27]:
def get_jurusan_ptn(data):
    temp_jurusan = ""
    temp_ptn = ""
    list_jurusan_ptn = []
    for i in range(len(data)):
        if data["Jurusan Diterima"][i] != temp_jurusan or data["PTN Diterima"][i] != temp_ptn:
            temp_jurusan = data["Jurusan Diterima"][i]
            temp_ptn = data["PTN Diterima"][i]
            list_jurusan_ptn.append((temp_jurusan, temp_ptn))
        else:
            pass

    return list_jurusan_ptn

In [28]:
def get_tabel_alternatif(data, list_jurusan_ptn):
    frame = {}
    for j in range(len(list_jurusan_ptn)):
        list_nilai = []
        for column in data:
            jum = 0
            byk = 0
            for i in data.index:
                if data["Jurusan Diterima"][i] == list_jurusan_ptn[j][0] and data["PTN Diterima"][i] == list_jurusan_ptn[j][1]:
    #                 print(data_sort["Jurusan Diterima"][i], data_sort["PTN Diterima"][i])
                    temp_jurusan = data["Jurusan Diterima"][i]
                    temp_ptn = data["PTN Diterima"][i]
                    try:
                        float(data[column][i])
                    except ValueError:
                        break
                    else:
                        jum += data[column][i]
                        byk += 1
                else:
                    pass
            try:
    #             print(column, jum/byk)
                list_nilai.append(jum/byk)
            except ZeroDivisionError:
                continue
        nama_alternatif = f"{temp_jurusan} - {temp_ptn}"
        if "administrasi" in temp_jurusan.casefold().split()\
        or "sosial" in temp_jurusan.casefold().split()\
        or "ekonomi" in temp_jurusan.casefold().split()\
        or "hi" in temp_jurusan.casefold().split()\
        or "hukum" in temp_jurusan.casefold().split()\
        or "komunikasi" in temp_jurusan.casefold().split()\
        or "politik" in temp_jurusan.casefold().split()\
        or "sosiologi" in temp_jurusan.casefold().split()\
        or "fsrd" in temp_jurusan.casefold().split()\
        or "sbm" in temp_jurusan.casefold().split()\
        or "akuntansi" in temp_jurusan.casefold().split()\
        or "manajemen" in temp_jurusan.casefold().split()\
        or "psdk" in temp_jurusan.casefold().split()\
        or "fiskal" in temp_jurusan.casefold().split()\
        or ("hubungan" in temp_jurusan.casefold().split() and "internasional" in temp_jurusan.casefold().split())\
        or "kriminologi" in temp_jurusan.casefold().split()\
        or "psikologi" in temp_jurusan.casefold().split()\
        or "bisnis" in temp_jurusan.casefold().split()\
        or "filsafat" in temp_jurusan.casefold().split()\
        or "jurnalistik" in temp_jurusan.casefold().split()\
        or "humas" in temp_jurusan.casefold().split()\
        or "desain" in temp_jurusan.casefold().split()\
        or "film" in temp_jurusan.casefold().split()\
        or "antropologi" in temp_jurusan.casefold().split()\
        or "keluarga" in temp_jurusan.casefold().split()\
        or "konsumen" in temp_jurusan.casefold().split()\
        or "sejarah" in temp_jurusan.casefold().split()\
        or "menejemen" in temp_jurusan.casefold().split()\
        or "arkeologi" in temp_jurusan.casefold().split()\
        or ("hubungan" in temp_jurusan.casefold().split() and "masyarakat" in temp_jurusan.casefold().split())\
        or "akutansi" in temp_jurusan.casefold().split():
            nama_alternatif = f"{temp_jurusan} - {temp_ptn} (IPS)"
        elif "sastra" in temp_jurusan.casefold().split()\
        or "bahasa" in temp_jurusan.casefold().split()\
        or "perpustakaan" in temp_jurusan.casefold().split()\
        or "ugm" in temp_jurusan.casefold().split():
            continue
        
        if "(IPS)" not in nama_alternatif.split():
            nama_alternatif = f"{temp_jurusan} - {temp_ptn} (IPA)"
        
#         if len(list_nilai) == 11:
#             del list_nilai[0]
#         elif len(list_nilai) == 13:
#             del list_nilai[0:3]
#         elif len(list_nilai) == 12:
#             del list_nilai[0:2]
            
        frame[nama_alternatif] = list_nilai

    tabel = pd.DataFrame(frame, index=["Matematika", "Inggris", "Indonesia", "Fisika", "Kimia", "Biologi", "Ekonomi", "Geografi", "Sosiologi"])

    return tabel

In [29]:
datasets = [
            "Data SNMPTN 2016 UI by @halokampus.csv",
            "Data SNMPTN 2017 UI by @halokampus.csv",]

In [30]:
result = clean(datasets)

result

C:\Users\jamal\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
C:\Users\jamal\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Jurusan Sekolah,Jenis Sekolah,Jurusan Diterima,PTN Diterima,Rata-rata Matematika,Rata-rata Inggris,Rata-rata Indonesia,Rata-rata Fisika,Rata-rata Kimia,Rata-rata Biologi,Rata-rata Ekonomi,Rata-rata Geografi,Rata-rata Sosiologi
0,IPS,SMA,Administrasi Niaga,UI,85.465625,83.888667,85.246032,84.493016,85.297674,84.182558,86.145714,85.512727,86.930877
1,IPS,SMA,Sastra Jepang,UI,82.000000,83.888667,85.000000,84.493016,85.297674,84.182558,86.000000,86.000000,84.000000
2,IPA,SMA,Sistem Informasi,UI,91.000000,83.000000,85.000000,88.000000,88.000000,89.000000,86.145714,87.000000,86.930877
3,IPS,SMA,Hukum,UI,80.000000,89.000000,85.000000,84.493016,85.297674,84.182558,87.000000,87.000000,84.000000
4,IPS,SMA,Ilmu Sejarah,UI,86.000000,87.000000,90.000000,78.000000,85.297674,84.182558,88.000000,85.000000,86.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
178,IPS,SMA,Ilmu Kesejahteraan Sosial,UI,81.000000,91.000000,86.000000,85.458673,85.232000,84.774154,80.000000,90.000000,88.000000
179,IPA,SMA,Matematika,UI,93.000000,84.517857,85.493804,85.458673,85.232000,84.774154,85.842023,86.584091,86.370656
180,IPS,SMA,Arkeologi,UI,85.377907,84.517857,85.493804,85.458673,85.232000,84.774154,85.842023,86.584091,86.370656
181,IPA,SMA,Biologi,UI,83.000000,83.000000,88.000000,82.000000,83.000000,85.000000,85.842023,86.584091,86.370656
182,IPA,SMA,Matematika,UI,91.000000,83.000000,84.000000,83.000000,89.000000,85.000000,84.000000,86.584091,86.370656

In [31]:
data_sort = sort_data(result)

data_sort

,Jurusan Sekolah,Jenis Sekolah,Jurusan Diterima,PTN Diterima,Rata-rata Matematika,Rata-rata Inggris,Rata-rata Indonesia,Rata-rata Fisika,Rata-rata Kimia,Rata-rata Biologi,Rata-rata Ekonomi,Rata-rata Geografi,Rata-rata Sosiologi
0,IPA,SMA,Administrasi Fiskal,UI,84.000000,84.000000,84.000000,82.000000,81.000000,83.000000,86.145714,85.512727,86.930877
1,IPS,SMA,Administrasi Negara,UI,88.000000,86.000000,87.000000,85.458673,85.232000,84.774154,92.000000,92.000000,89.000000
2,IPS,SMA,Administrasi Niaga,UI,85.465625,83.888667,85.246032,84.493016,85.297674,84.182558,86.145714,85.512727,86.930877
3,IPS,SMA,Akuntansi,UI,95.000000,86.000000,86.000000,84.493016,85.297674,84.182558,91.000000,91.000000,86.000000
4,IPA,SMA,Akuntansi,UI,85.465625,83.888667,85.246032,84.493016,85.297674,84.182558,86.145714,85.512727,86.930877
...,...,...,...,...,...,...,...,...,...,...,...,...,...
178,IPA,SMA,Teknik Mesin,UI,91.000000,85.000000,89.000000,84.000000,86.000000,85.000000,85.273618,85.000000,86.370656
179,IPA,SMA,Teknik Metalurgi & Material,UI,81.000000,86.000000,80.000000,85.000000,83.000000,86.000000,85.842023,86.584091,86.370656
180,IPA,SMA,Teknik Perkapalan,UI,85.377907,84.517857,85.493804,85.458673,85.232000,84.774154,85.842023,86.584091,86.370656
181,IPA,SMA,Teknik Sipil,UI,92.000000,83.000000,84.000000,87.000000,81.000000,75.000000,86.145714,85.512727,86.930877
182,IPA,SMA,Teknologi Bioproses,UI,85.465625,83.888667,85.246032,84.493016,85.297674,84.182558,86.145714,85.512727,86.930877

In [32]:
list_jurusan_ptn = get_jurusan_ptn(data_sort)

list_jurusan_ptn

[('Administrasi Fiskal', 'UI'),
 ('Administrasi Negara', 'UI'),
 ('Administrasi Niaga', 'UI'),
 ('Akuntansi', 'UI'),
 ('Akutansi', 'UI'),
 ('Arkeologi', 'UI'),
 ('Bahasa Dan Kebudayaan Korea', 'UI'),
 ('Biologi', 'UI'),
 ('Farmasi', 'UI'),
 ('Filsafat', 'UI'),
 ('Fisika', 'UI'),
 ('Fisika', 'UI '),
 ('Fiskal', 'UI'),
 ('Geofisika', 'UI'),
 ('Geofisika ', 'UI'),
 ('Geograf', 'UI'),
 ('Geografi', 'UI'),
 ('Geologi', 'UI'),
 ('Hubungan Internasional', 'UI'),
 ('Hukum', 'UI'),
 ('Ilmu Adm. Fiskal', 'UI'),
 ('Ilmu Administrasi Negara', 'UI'),
 ('Ilmu Administrasi Niaga', 'UI'),
 ('Ilmu Ekonomi', 'UI'),
 ('Ilmu Ekonomi Islam', 'UI'),
 ('Ilmu Gizi', 'UI'),
 ('Ilmu Hubungan Internasional', 'UI'),
 ('Ilmu Hukum', 'UI'),
 ('Ilmu Keperawatan', 'UI'),
 ('Ilmu Kesehatan Masyarakat', 'UI'),
 ('Ilmu Kesejahteraan Sosial', 'UI'),
 ('Ilmu Komputer', 'UI'),
 ('Ilmu Komunikasi', 'UI'),
 ('Ilmu Perpustakaan', 'UI'),
 ('Ilmu Sejarah', 'UI'),
 ('Kedokteran', 'UI'),
 ('Kedokteran Gigi', 'UI'),
 ('Kesehatan Masyarakat', 'UI'),
 ('Kesejahteraan Sosial', 'UI'),
 ('Kimia', 'UI'),
 ('Kimia ', 'UI'),
 ('Komunikasi', 'UI'),
 ('Kriminologi', 'UI'),
 ('Manajemen', 'UI'),
 ('Matematika', 'UI'),
 ('Matematika ', 'UI'),
 ('Mipa Geologi', 'UI'),
 ('Psikologi', 'UI'),
 ('Psikologi ', 'UI'),
 ('Sastra', 'UI'),
 ('Sastra Arab', 'UI'),
 ('Sastra Belanda', 'UI'),
 ('Sastra Daerah Untuk Sastra Jawa', 'UI'),
 ('Sastra Indonesia', 'UI'),
 ('Sastra Inggris', 'UI'),
 ('Sastra Inggris ', 'UI'),
 ('Sastra Jawa', 'UI'),
 ('Sastra Jepang', 'UI'),
 ('Sastra Jerman', 'UI'),
 ('Sastra Perancis', 'UI'),
 ('Satra Jerman', 'UI'),
 ('Sistem Informasi', 'UI'),
 ('Sosiologi', 'UI'),
 ('Statistika', 'UI'),
 ('Teknik Elektro', 'UI'),
 ('Teknik Industri', 'UI'),
 ('Teknik Kimia', 'UI'),
 ('Teknik Mesin', 'UI'),
 ('Teknik Metalurgi & Material', 'UI'),
 ('Teknik Perkapalan', 'UI'),
 ('Teknik Sipil', 'UI'),
 ('Teknologi Bioproses', 'UI')]

In [33]:
tabel_alternatif = get_tabel_alternatif(data_sort, list_jurusan_ptn)

tabel_alternatif

,Administrasi Fiskal - UI (IPS),Administrasi Negara - UI (IPS),Administrasi Niaga - UI (IPS),Akuntansi - UI (IPS),Akutansi - UI (IPS),Arkeologi - UI (IPS),Biologi - UI (IPA),Farmasi - UI (IPA),Filsafat - UI (IPS),Fisika - UI (IPA),...,Sosiologi - UI (IPS),Statistika - UI (IPA),Teknik Elektro - UI (IPA),Teknik Industri - UI (IPA),Teknik Kimia - UI (IPA),Teknik Mesin - UI (IPA),Teknik Metalurgi & Material - UI (IPA),Teknik Perkapalan - UI (IPA),Teknik Sipil - UI (IPA),Teknologi Bioproses - UI (IPA)
Matematika,84.000000,88.000000,85.465625,88.899479,44.693125,85.377907,84.888777,85.465625,88.000000,86.153101,...,83.500000,87.758451,87.500000,88.482812,90.000000,91.000000,81.000000,85.377907,92.000000,85.465625
Inggris,84.000000,86.000000,83.888667,83.944333,54.255467,84.517857,84.417769,83.888667,86.000000,84.724206,...,87.500000,82.756456,84.000000,87.944333,86.000000,85.000000,86.000000,84.517857,83.000000,83.888667
Indonesia,84.000000,87.000000,85.246032,85.289683,85.000000,85.493804,86.461948,85.246032,76.000000,84.277089,...,83.500000,85.997981,87.500000,87.123016,92.000000,89.000000,80.000000,85.493804,84.000000,85.246032
Fisika,82.000000,85.458673,84.493016,84.493016,87.000000,85.458673,84.487194,84.493016,85.458673,86.606519,...,84.975844,85.920672,87.500000,86.996508,91.000000,84.000000,85.000000,85.458673,87.000000,84.493016
Kimia,81.000000,85.232000,85.297674,85.297674,74.300000,85.232000,85.251668,85.297674,85.232000,84.025778,...,85.264837,84.546764,89.000000,86.648837,93.500000,86.000000,83.000000,85.232000,81.000000,85.297674
Biologi,83.000000,84.774154,84.182558,84.182558,83.000000,84.774154,86.247267,84.182558,84.774154,84.197128,...,84.123525,85.305610,86.000000,86.341279,86.500000,85.000000,86.000000,84.774154,75.000000,84.182558
Ekonomi,86.145714,92.000000,86.145714,87.572857,86.145714,85.842023,85.625285,86.145714,85.000000,85.917182,...,89.500000,85.405524,84.425464,87.533363,91.072857,85.273618,85.842023,85.842023,86.145714,86.145714
Geografi,85.512727,92.000000,85.512727,87.756364,85.512727,86.584091,86.083377,85.512727,86.000000,85.320253,...,85.500000,86.908831,86.048409,85.780568,86.048409,85.000000,86.584091,86.584091,85.512727,85.512727
Sosiologi,86.930877,89.000000,86.930877,87.632105,86.930877,86.370656,86.258079,86.930877,87.000000,86.744137,...,84.000000,86.623825,86.650767,86.790822,86.650767,86.370656,86.370656,86.370656,86.930877,86.930877

In [34]:
tabel_alternatif.to_csv("Tabel Alternatif.csv", encoding="utf-8")