In [73]:
import pandas as pd
import math
import numpy as np

In [74]:
def open_file(file):
    #read dataset
    raw_data = pd.read_csv(file, header=6)

    #ganti nama header
    raw_data.columns = [
                        "Nama Panggilan", 
                        "Asal Sekolah", 
                        "Jurusan Sekolah", 
                        "Jenis Sekolah",
                        "Jenis Kelas", 
                        "Akreditasi Sekolah", 
                        "Prestasi Sekolah", 
                        "Alumni Sekolah", 
                        "PTN Pilihan I", 
                        "Jurusan Pilihan I di PTN Pilihan I" ,
                        "Jurusan Pilihan II di PTN Pilihan I", 
                        "PTN Pilihan II", 
                        "Jurusan Pilihan I di PTN Pilihan II" ,
                        "Jurusan Pilihan II di PTN Pilihan II", 
                        "Jurusan Diterima", "PTN Diterima", 
                        "Matematika Semester 1", 
                        "Matematika Semester 2", 
                        "Matematika Semester 3", 
                        "Matematika Semester 4", 
                        "Matematika Semester 5", 
                        "Inggris Semester 1", 
                        "Inggris Semester 2", 
                        "Inggris Semester 3", 
                        "Inggris Semester 4", 
                        "Inggris Semester 5",
                        "Indonesia Semester 1",
                        "Indonesia Semester 2",
                        "Indonesia Semester 3",
                        "Indonesia Semester 4",
                        "Indonesia Semester 5",
                        "Fisika Semester 1",
                        "Fisika Semester 2",
                        "Fisika Semester 3",
                        "Fisika Semester 4",
                        "Fisika Semester 5",
                        "Kimia Semester 1",
                        "Kimia Semester 2",
                        "Kimia Semester 3",
                        "Kimia Semester 4",
                        "Kimia Semester 5",
                        "Biologi Semester 1",
                        "Biologi Semester 2",
                        "Biologi Semester 3",
                        "Biologi Semester 4",
                        "Biologi Semester 5",
                        "Ekonomi Semester 1",
                        "Ekonomi Semester 2",
                        "Ekonomi Semester 3",
                        "Ekonomi Semester 4",
                        "Ekonomi Semester 5",
                        "Geografi Semester 1",
                        "Geografi Semester 2",
                        "Geografi Semester 3",
                        "Geografi Semester 4",
                        "Geografi Semester 5",
                        "Sosiologi Semester 1",
                        "Sosiologi Semester 2",
                        "Sosiologi Semester 3",
                        "Sosiologi Semester 4",
                        "Sosiologi Semester 5",
                        "Sejarah Semester 1",
                        "Sejarah Semester 2",
                        "Sejarah Semester 3",
                        "Sejarah Semester 4",
                        "Sejarah Semester 5",
                        "Komputer Semester 1",
                        "Komputer Semester 2",
                        "Komputer Semester 3",
                        "Komputer Semester 4",
                        "Komputer Semester 5",
                        "Peringkat Kelas Semester 1",
                        "Peringkat Kelas Semester 2",
                        "Peringkat Kelas Semester 3",
                        "Peringkat Kelas Semester 4",
                        "Peringkat Kelas Semester 5",
                        "Nilai UN", 
                        "Saran",
                        "Prestasi Lain"
                    ]
    
    data = raw_data.drop([
            "Nama Panggilan", 
            "Asal Sekolah", 
            "Jenis Kelas", 
            "Akreditasi Sekolah",
            "Prestasi Sekolah", 
            "Alumni Sekolah", 
            "PTN Pilihan I", 
            "Jurusan Pilihan I di PTN Pilihan I" ,
            "Jurusan Pilihan II di PTN Pilihan I", 
            "PTN Pilihan II", 
            "Jurusan Pilihan I di PTN Pilihan II" ,
            "Jurusan Pilihan II di PTN Pilihan II", 
            "Komputer Semester 1",
            "Komputer Semester 2",
            "Komputer Semester 3",
            "Komputer Semester 4",
            "Komputer Semester 5",
            "Peringkat Kelas Semester 1",
            "Peringkat Kelas Semester 2",
            "Peringkat Kelas Semester 3",
            "Peringkat Kelas Semester 4",
            "Peringkat Kelas Semester 5",
            "Nilai UN", 
            "Saran",
            "Prestasi Lain"
        ],axis=1)
    
    return data

In [75]:
def cleaning_nilai(data):

    #Mengambil nilai tengah dari tiap nilai
    data = data.replace("<70", 69)
    data = data.replace("71 - 75", 73)
    data = data.replace("76 - 80", 78)
    data = data.replace("81 - 85", 83)
    data = data.replace("86 - 90", 88)
    data = data.replace("91 - 95", 93)
    data = data.replace("> 95", 96)
    data = data.replace("No data", np.NaN)

    return data

In [76]:
def replace_zero_w_mean(data, mata_pelajaran):        
    rata2 = (data[f"{mata_pelajaran} Semester 1"].mean() 
            + data[f"{mata_pelajaran} Semester 2"].mean() 
            + data[f"{mata_pelajaran} Semester 3"].mean()
            + data[f"{mata_pelajaran} Semester 4"].mean()
            + data[f"{mata_pelajaran} Semester 5"].mean())/5
    
    values = {
        f"{mata_pelajaran} Semester 1": rata2,
        f"{mata_pelajaran} Semester 2": rata2,
        f"{mata_pelajaran} Semester 3": rata2,
        f"{mata_pelajaran} Semester 4": rata2,
        f"{mata_pelajaran} Semester 5": rata2,
    }
    data = data.fillna(value=values)
                    
    return data

In [77]:
def rata2_mp_semester(data, mata_pelajaran):
    data_rata2 = {}
    
    mapel = []
    for i in range(1,6):
        mapel.append(f"{mata_pelajaran} Semester {i}")

    data_drop = data.drop(mapel, axis=1)

    for column in data_drop:
        isi = []
        for i in range(len(data)):
            header = column
            isi.append(data[column][i])
        data_rata2[column] = isi

    mean = []
    for i in range(len(data)):
        jumlah_nilai = 0
        jumlah_nilai += data[f"{mata_pelajaran} Semester 1"][i] + data[f"{mata_pelajaran} Semester 2"][i] + data[f"{mata_pelajaran} Semester 3"][i] + data[f"{mata_pelajaran} Semester 4"][i] + data[f"{mata_pelajaran} Semester 5"][i]
        mean.append(jumlah_nilai/5)

    data_rata2[f"Rata-rata {mata_pelajaran}"] = mean

    data_rata2_frame = pd.DataFrame(data=data_rata2)
    return data_rata2_frame

In [78]:
def remove_nan(data):
    drop_index = []

    for i in range(len(data)):
        try:
            float(data["Jurusan Diterima"][i])
        except ValueError:
            pass
        else:
            if math.isnan(float(data["Jurusan Diterima"][i])) or int(data["Jurusan Diterima"][i]) == 0:
                drop_index.append(i)

    data = data.drop(drop_index)
        
    return data

In [79]:
def clean_jurusan_ptn(data):
    for i in range(len(data)):
        for column in data:
            if column == "Jurusan Diterima":
                data[column][i] = data[column][i].title()
            elif column == "PTN Diterima":
                data[column][i] = data[column][i].upper()
    
    return data

In [80]:
def clean(files):
    cleanned_data = []
    
    for file in files:
        data = open_file(file)

        data = cleaning_nilai(data)

        matpel = ["Matematika", "Inggris", "Indonesia", "Fisika", "Kimia", "Biologi", "Ekonomi", "Geografi", "Sosiologi","Sejarah"]

        for item in matpel:
            data = replace_zero_w_mean(data, item)
            data = rata2_mp_semester(data, item)
                    
        data = remove_nan(data)
        
        cleanned_data.append(data)
        
        data_merge = pd.concat(cleanned_data, ignore_index=True)
        
        result = clean_jurusan_ptn(data_merge)

    return result

In [81]:
def sort_data(data):
    data_sort = data.sort_values(by=['Jurusan Diterima', 'PTN Diterima'])
    
    data_sort.reset_index(inplace = True)

    data_sort = data_sort.drop(["index"], axis=1)

    return data_sort

In [82]:
# data_sort.reset_index(inplace = True)

# data_sort = data_sort.drop(["index"], axis=1)

# data_sort

In [83]:
def get_jurusan_ptn(data):
    temp_jurusan = ""
    temp_ptn = ""
    list_jurusan_ptn = []
    for i in range(len(data)):
        if data["Jurusan Diterima"][i] != temp_jurusan and data["PTN Diterima"][i] != temp_ptn:
            temp_jurusan = data["Jurusan Diterima"][i]
            temp_ptn = data["PTN Diterima"][i]
            list_jurusan_ptn.append((temp_jurusan, temp_ptn))
        else:
            pass

    return list_jurusan_ptn

In [84]:
def get_tabel_alternatif(data, list_jurusan_ptn):
    frame = {}
    for j in range(len(list_jurusan_ptn)):
        list_nilai = []
        for column in data:
            jum = 0
            byk = 0
            for i in range(len(data)):
                if data["Jurusan Diterima"][i] == list_jurusan_ptn[j][0] and data["PTN Diterima"][i] == list_jurusan_ptn[j][1]:
    #                 print(data_sort["Jurusan Diterima"][i], data_sort["PTN Diterima"][i])
                    temp_jurusan = data["Jurusan Diterima"][i]
                    temp_ptn = data["PTN Diterima"][i]
                    try:
                        float(data[column][i])
                    except ValueError:
                        break
                    else:
                        jum += data[column][i]
                        byk += 1
                else:
                    pass
            try:
    #             print(column, jum/byk)
                list_nilai.append(jum/byk)
            except ZeroDivisionError:
                continue
        frame[f"{temp_jurusan} - {temp_ptn}"] = list_nilai

    tabel = pd.DataFrame(frame, index=["Matematika", "Inggris", "Indonesia", "Fisika", "Kimia", "Biologi", "Ekonomi", "Geografi", "Sosiologi", "Sejarah"])

    return tabel

In [85]:
datasets = ["Data SNMPTN 2016 IPB by @halokampus.csv",
            "Data SNMPTN 2016 ITB by @halokampus.csv",
            "Data SNMPTN 2016 ITS by @halokampus.csv",
            "Data SNMPTN 2016 UB by @halokampus.csv",
            "Data SNMPTN 2016 UGM by @halokampus.csv",
            "Data SNMPTN 2016 UI by @halokampus.csv",
            "Data SNMPTN 2016 Unair by @halokampus.csv",
            "Data SNMPTN 2016 Undip by @halokampus.csv",
            "Data SNMPTN 2016 Unpad by @halokampus.csv",]

result = clean(datasets)

data_sort = sort_data(result)

list_jurusan_ptn = get_jurusan_ptn(data_sort)

tabel_alternatif = get_tabel_alternatif(data_sort, list_jurusan_ptn)

tabel_alternatif

C:\Users\User\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
C:\Users\User\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

,Administrasi Fiskal - UI,Administrasi Perpajakan - UB,Agribisnis - IPB,Agroekoteknologi - UB,Agronomi Dan Holtikultura - IPB,Agroteknologi - UNPAD,Akuntansi - UGM,Akutansi - UI,Antropologi - UNPAD,Antropologi Sosial - UB,...,Teknik Sipil - UB,Teknik Sipil Dan Lingkungan - IPB,Teknik Sistem Perkapalan - ITS,Teknobiomedik - UNAIR,Teknologi Bioproses - UI,Teknologi Dan Manajemen Perikanan Budidaya - IPB,Teknologi Hasil Perikanan - UB,Teknologi Industri Pertanian - IPB,Teknologi Pangan - UB,Teknologi Produksi Ternak - IPB
Matematika,84.000000,92.000000,93.800,82.084683,90.200000,86.000000,92.500000,72.457490,84.000000,77.0,...,90.000000,89.0,86.000000,87.573333,86.287450,86.000000,82.000000,85.197993,83.338730,79.000000
Inggris,84.000000,86.000000,90.000,84.953929,90.200000,87.500000,92.800000,75.311764,79.000000,81.0,...,86.000000,87.0,91.000000,86.946667,84.779410,85.000000,91.000000,85.044444,84.815714,79.000000
Indonesia,84.000000,89.000000,88.000,86.046270,88.600000,88.100000,92.000000,85.000000,80.000000,80.0,...,85.000000,89.0,90.000000,87.200000,85.768254,85.000000,89.000000,86.392644,85.185079,82.000000
Fisika,82.000000,83.248000,91.000,82.062000,89.000000,81.000000,89.501634,87.000000,84.141855,73.0,...,85.000000,87.0,93.000000,85.337273,85.167068,84.000000,80.000000,84.151724,83.248000,78.333333
Kimia,81.000000,83.670667,88.600,82.567667,90.000000,84.500000,89.786275,81.200000,85.938847,73.0,...,79.000000,91.6,81.000000,85.395455,86.120930,84.000000,79.000000,84.786667,83.670667,77.000000
Biologi,83.000000,84.209420,90.000,84.052355,91.000000,86.800000,91.111765,83.000000,84.882707,73.0,...,85.000000,92.0,86.000000,86.380303,84.857082,82.000000,83.000000,86.937778,84.209420,79.000000
Ekonomi,86.437143,90.828333,85.690,83.685000,84.150000,84.241875,93.800000,86.437143,80.000000,79.0,...,84.141667,86.0,87.862857,86.047619,86.437143,84.150000,88.285000,85.433333,84.141667,82.643333
Geografi,85.460364,91.000000,82.144,84.627747,84.906667,81.649538,89.656818,85.460364,82.000000,77.0,...,84.808608,86.0,NaN,85.866667,85.460364,84.906667,84.808608,84.906667,84.808608,83.071111
Sosiologi,86.857068,90.600000,NaN,85.680833,NaN,80.580889,92.033333,86.857068,80.000000,83.0,...,84.816667,NaN,NaN,85.366667,86.857068,NaN,84.816667,NaN,84.816667,NaN
Sejarah,84.850782,92.200000,89.000,85.497583,84.705882,81.885948,93.100000,85.000000,81.000000,80.0,...,83.000000,89.0,87.100000,86.560000,84.850782,86.000000,83.000000,85.470588,84.990333,78.666667